<!-- div.container-sm>form>div.form-group*5>(label+input.from-control) -->
<div class="container-sm">
    <form [formGroup]="albumForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="name">Name :</label>
            <input formControlName="name" type="text" class="form-control" placeholder="Nom de l'album">
            <div *ngIf="name?.invalid && name?.touched" class="alert alert-danger">
                <p *ngIf="name?.errors?.['required']">Ce champs est requis.</p>
                <p *ngIf="name?.errors?.['minlength(5)']">Ce champs doit avoir une
                    longueur minimale de {{ name?.errors?.['minlength']?.requiredLength }}
                    caractères. </p>
            </div>
        </div>

        <div class="form-group">
            <label for="title">Title :</label>
            <input formControlName="title" type="text" class="form-control" id="title" placeholder="Title">
            <div *ngIf="title?.invalid && title?.touched" class="alert alert-danger">
                <p *ngIf="title?.errors?.['required']">Ce champs est requis.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="ref">Ref</label>
            <input formControlName="ref" type="text" id="ref" placeholder="ref" class="form-control">
            <div *ngIf="ref?.invalid && ref?.touched" class="alert alert-danger">
                <p *ngIf="ref?.errors?.['required']">Ce champs est requis.</p>
                <p *ngIf="ref?.errors?.['pattern']"><strong>
                        <em>
                            {{ ref?.errors?.['pattern']?.
                            requiredPattern}}
                        </em>
                    </strong>
                    <a href="">Ce champs doit suivre le format d'expression regulière.</a>
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="duration"> Duration :</label>
            <input formControlName="duration" type="text" id="duration" placeholder="duration" class="form-control">
            <div *ngIf="duration?.invalid && duration?.touched" class="alert alert-danger">
                <p *ngIf="duration?.errors?.['required']">Ce champs est requis.</p>
                <p *ngIf="duration?.errors?.['pattern']">
                    Ce champs doit suivre un format d'expression régulière
                    <strong> <em>{{ duration?.errors?.['pattern']?.requiredPattern}}</em></strong>
                    <a href="">En savoir plus sur les expressions regulières</a>
                </p>
                <p *ngIf="duration?.errors?.['max']">
                    La valeur ne doit pas être supérieur à {{ duration?.errors?.['max']?.max }}
                </p>
            </div>
        </div>

        <div  class="form-group">
            <label for="description">Description:</label>
            <textarea formControlName="description" id="description" class="form-control" rows="3"></textarea>
            <div *ngIf="description?.invalid && description?.touched" class="alert alert-danger">
                <p *ngIf="description?.errors?.['required']">Ce champs est requis.</p>
            </div>
        </div>

        <div formArrayName="tags">
            <h2>Etiquettes de l'albums</h2>
            <button type="button" (click)="addTag()" class="btn btn-secondary">Ajouter une Etiquette</button>
            <div class="form-group" *ngFor="let tag of tags.controls, let i =  index">
                <label for="tag-{{i}}">Tags :</label>
                <input [formControlName]="i" type="text" class="form-control" id="tag-{{i}} " style="width: 300px;">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="albumForm.invalid">Add</button>
    </form>
</div>