
<form action="">
    <div class="form-group">
        <label for="name">Name :</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="title">Title :</label>
        <input type="text" class="form-control" id="title" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="ref">Ref</label>
        <input type="text" id="ref" placeholder="ref" class="form-control">
    </div>
    <div class="form-group">
        <label for="duration"> Duration :</label>
        <input type="text" id="duration"  placeholder="duration" class="form-control">
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" class="form-control" rows="3"></textarea>
    </div>
</form>
