<div class="container-fuild principal" [@fadeInAnimation]>
  <nav class="navbar navbar-expand-lg navbar-light">
    <ul class="navbar-nav mr-auto list-group-horizontal">
      <li class="nav-item active mg-2">
        <a  routerLink="./albums"> Home </a>
      </li>
      <li class="nav-item active">
        <a  routerLink="./login"> Se connecté </a>
      </li>
      <li class="nav-item active">
        <a  routerLink="./oc"> Open-Close</a>
      </li>

    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>