<div class="container-fuild principal" [@fadeInAnimation]>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="div"> MUSIC 🎼</div>
    <ul class="navbar-nav mr-auto list-group-horizontal" [@active]>
      <li class="nav-item active mg-2" routerLinkActive="lien" >
        <a  routerLink="./albums" > Home </a>
      </li>
      <li class="nav-item active"  routerLinkActive="lien" >
        <a  routerLink="./login"> Se connecter </a>
      </li>
      <li class="nav-item active"  routerLinkActive="lien" >
        <a  routerLink="./admin">Admin</a>
      </li>
      <li class="nav-item active"  routerLinkActive="lien" >
        <a  routerLink="./template">Template</a>
      </li>
      <li class="nav-item active"  routerLinkActive="lien" >
        <a  routerLink="./reactif">Reactif</a>
      </li>
    </ul>
    <p> Time: {{ count }}</p>
  </nav>
  <app-audio-player></app-audio-player>
  <router-outlet> </router-outlet>
</div>
<!-- <app-album></app-album> -->

<!-- <app-first-comp></app-first-comp>
<app-second-comp></app-second-comp> -->