<!-- <p>album-details works!</p> -->
<div [@fadeInAnimation] class="div" *ngIf="album">
    <div class="card">
        <img class="card-img-top" src="{{album.url}}" alt="Group Music">
        <div class="card-body">
            <h5 class="card-title"> {{album.title}} </h5>
            <p class="card-text"> {{album.name}} </p>
            <button class="btn btn-primary" (click)="play(album)" type="button">Play 🎶>> </button>
            <button class="btn btn-secondary" *ngIf="selectedList"> Shuffer</button>
        </div>
        <!-- Si nous avons des songs dans le PlayList -->
        <ul class="list-group" *ngIf="selectedList ;else noSong">
                    <li class="list-group-item active" *ngFor="let li of selectedList"> {{li}} </li> 
        </ul> 
         <!-- Au cas contraire   -->
        <ng-template #noSong>
            <ul class="list-group">
                <li class="list-group-item active">
                    Pas de song pour cet Album
                </li>
            </ul>
        </ng-template> 

    </div>
</div>

